footer{
    background-color: $primaryColor;
    color:$solidWhite;
    text-align: center;
    line-height: 1.3rem;
    padding: 10px;
    a{
        color: $solidWhite;
        text-decoration: none;
    }
}