    .imgContainer img{
        width: 5rem;
        border-radius: 50%;
        border: 1px solid $primaryColor;
        margin-top: 5px;
    }

    .imgContainer{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }

    .titleContainer {
        text-align: center;
    }
    


