header{
    
    .imgContainer img{
        width: 100px;
        border-radius: 50%;
        border: 1px solid $primaryColor;
        margin-top: 5px;
    }

    .imgContainer{
        display: flex;
        width: 100%;
        align-items: center;
    }

    
}

