// Josefin Slab is the headings font
@font-face {
    font-family: "Josefin Slab";
    src: url('./fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
}


// Lato is the body font
@font-face{
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf');
}

h1,
h2,
h3{
    font-family: $headingFont ;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
}

body{
    font-family:$bodyFont;
}