// Josefin Slab is the headings font
@font-face {
    font-family: "Josefin Slab";
    src: url('./fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
}


// Lato is the body font
@font-face{
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf');
}

h1,
h2,
h3{
    font-family: $headingFont ;
}

body{
    font-family:$bodyFont;
}