// $backgroundColor: #f4e6e8;
// $primaryColor:#ff7600;
// $secondaryColor:#6056f9;
// $logoBackground:#E5E5E5;
// $solidWhite:#fff;

$backgroundColor: #FCFAEE;
$primaryColor: #2F5B65;
$secondaryColor: #70A9A1;
$logoBackground: #CFD7C7;
$tertiaryColor: #0B2027;
$solidWhite: #fff;

$headingFont:'Josefin Slab', serif;
$bodyFont:"Lato",sans-serif;
